<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" placeholder="username" name="username" class="form-control" id="username"
        formControlName="username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control"
        id="password">
    </div>

    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" formControlName="fullName" placeholder="Full Name" name="fullName" class="form-control"
        id="fullName">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="dh@gmail.com" name="email" class="form-control"
        id="email">
    </div>

    <div class="form-group">
      <label for="employeeCode">EmployeeCode:</label>
      <input type="text" formControlName="employeeCode" placeholder="DH" name="employeeCode" class="form-control"
        id="employeeCode">
    </div>

    <div class="form-group">
      <label for="department">Department:</label>
      <input type="text" formControlName="department" placeholder="TECH" name="department" class="form-control"
        id="department">
    </div>


    <div class="row form-group">
      <div class="col-md-2">
        <label for="options">User Roles:</label>
      </div>
      <div class="col-md-3">
        <div *ngFor="let roles of userRoles; let i=index">
          <label>
            <input type="checkbox" name="roles" [value]="roles.value" (change)="onCheckboxChange($event)" />
            {{roles.name}}
          </label>
        </div>
        <p class="error" *ngIf="this.addForm.controls['roles'].errors?.required">

        </p>
      </div>

    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">
      <fa-icon [icon]="faPlus"></fa-icon> Add User
    </button>
  </form>
</div>
